<h2
  mat-dialog-title
  class="before:hidden! text-xl! font-semibold! text-center py-4! border-b border-neutral-200"
>
  {{ isEditMode ? 'Edit Item' : 'Create New Item' }}
</h2>

<mat-dialog-content
  class="max-h-[unset]! min-h-[calc(100dvh-150px)]! flex-1 flex flex-col content-center"
>
  <form [formGroup]="form" class="flex flex-col gap-4 w-full">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter item title" />
      @if (form.get('title')?.hasError('required') && form.get('title')?.touched) {
      <mat-error>Title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Enter item description (optional)"
        rows="3"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Icon</mat-label>
      <mat-select formControlName="icon">
        <mat-select-trigger>
          @if (getSelectedIcon(); as selectedIcon) {
          <div class="flex items-center gap-2">
            <mat-icon>{{ selectedIcon.value }}</mat-icon>
            <span>{{ selectedIcon.label }}</span>
          </div>
          } @else {
          <span>None</span>
          }
        </mat-select-trigger>
        @for (icon of icons; track icon.value) {
        <mat-option [value]="icon.value">
          <div class="flex items-center gap-2">
            @if (icon.value) {
            <mat-icon>{{ icon.value }}</mat-icon>
            }
            <span>{{ icon.label }}</span>
          </div>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="mb-4 mr-4 flex gap-3 items-center">
    <button mat-button (click)="onCancel()"><mat-icon>close</mat-icon>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!form.valid">
      <mat-icon>save</mat-icon>
      {{ isEditMode ? 'Save' : 'Create' }}
    </button>
  </div>
</mat-dialog-actions>
