/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --font-sans: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
}

* {
  font-family: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  --mat-button-protected-container-height: 48px;
  --mat-button-text-container-height: 48px;
  --mat-button-text-horizontal-padding: 16px;
  /* background-image: url('/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; */
}

/* CDK Drag and Drop Styles */
.cdk-drag-placeholder {
  opacity: 0.5 !important;
  border: 2px dashed #9ca3af !important;
  border-radius: 0.75rem !important;
  background: rgba(156, 163, 175, 0.15) !important;
  backdrop-filter: blur(4px);
}

.cdk-drag-preview {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25) !important;
  opacity: 0.95 !important;
  /* transform: rotate(2deg) !important; */
  cursor: grabbing !important;
  z-index: 1000 !important;
  overflow: visible;
  padding: 12px;

}

.cdk-drag-preview .mdc-icon-button {
  display: none !important;
}

.full-screen-dialog .mat-mdc-dialog-container {
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.full-screen-dialog .mat-mdc-dialog-surface {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mat-mdc-dialog-title::before {
  display: none !important;
}