/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --font-sans: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
}

* {
  font-family: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  --mat-button-protected-container-height: 48px;
}